[Oo]bj/
src/**/[Bb]in/
specs/**/[Bb]in/
.nuget/
_ReSharper.*
packages/
artifacts/
*.user
*.cache
*.suo
*.userprefs
*DS_Store
*.sln.ide
lib/Sitecore/*
!lib/Sitecore/readme.MD
lib/System/*
!lib/System/readme.MD
.sonar
vars.user.cmd
/.vs
/target
/node_modules
temp/
*.ncrunchproject
*.ncrunchsolution
.vscode


built/Data
built/Databases
built/Website
PublishProfiles/ProdA.pubxml
PublishProfiles/ProdB.pubxml
App_Config/ConnectionStrings.Dev.config
Web.Dev.config


#Subversion files
.svn

# Office Temp Files
~$*

#NuGet
packages/

#ncrunch
*ncrunch*
*crunch*.local.xml

# Sass
proto/.sass-cache
proto/.sass-cache/
proto/.tmp
proto/node_modules
proto/app/bower_components

#Foundation
proto/source/css/*
proto/source/.sass-cache/*

#Local Ignores